//colors
$light-gray: #E5E5E5;
$black: #000;

body {
    padding-top: 70px;
}

li {
    list-style: none;
}

.fixed {
    position: fixed;
}

.current {
    font-weight: bold;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.blog-title {
    cursor: pointer;
    &:hover {
        background: $light-gray;
    }
}

.container {
    .photo {
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }

    .in-view img{
        border-radius: 5px;
        border: 2px solid $black;
    }
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid $light-gray;
}