<div ng-include="'components/navbar/navbar.html'"></div>

<!--<header class="hero-unit" id="banner">-->
  <!--<div class="container">-->
    <!--<h1>'Allo, 'Allo!</h1>-->
    <!--<p class="lead">Kick-start your next web app with Angular Fullstack</p>-->
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  <!--</div>-->
<!--</header>-->

<div class="container" scroll>
  <div class="row">
    <div class="col-sm-2">
      <ul>
        <li ng-click="allBlogs()" class="blog-title">All blogs</li>
      </ul>
      <ul ng-repeat="blog in getCurrentUser().following">
        <li ng-click="showBlog(blog)" class="blog-title">{{blog.name}}</li>
      </ul>
    </div>

    <div class="col-sm-2" ng-if="all == false" images>
      <div ng-repeat="photo in currentBlog.photos | limitTo:25">
          <div class="photo" image="{{$index}}">
            <img src="{{photo.url}}">
          </div>

      </div>
    </div>

    <div class="col-sm-2" ng-if="all == true" in-view-container images>
      <div ng-repeat="post in getCurrentUser().allPhotos.photos | limitTo:10">
        <div class="photo" image="{{$index}}">
        <img src="{{post.photo.url}}">
        </div>
        <!--<img src="{{post.photo.url}}" in-view="lineInView($index, $inview, $inviewpart, $event)">-->
      </div>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
